/**
 * EXPANDABLE IMAGES
 */

.post-content .expandable__wrap {
    text-align: center;
}

.post-content .expandable__wrap::after {
    content: "Haz click en la imagen para expandirla";
    font-size: 12px;
    opacity: 0.6;
}

@media screen and (min-width: 900px) {
    .post-content p img.expandable,
    .post-content figure img.expandable {
        max-width: 80vw;
        margin-left: calc(50% - 40vw);
    }
}

@media screen and (min-width: 1400px) {
    .post-content p img.expandable,
    .post-content figure img.expandable {
        max-width: 1120px;
        margin-left: calc(50% - 560px);
    }
}