<script>
function removeElementsByClass(className) {
    const elements = document.getElementsByClassName(className);
    while (elements.length > 0) {
        elements[0].parentNode.removeChild(elements[0]);
    }
}

/**
 * Change default footer
 */
function addCustomFooter(text) {
    removeElementsByClass('footer');
    var footer = document.createElement('footer');
    footer.classList.add('footer');
    var span = document.createElement('span'); // document.createTextNode();
    span.innerHTML = text;
    footer.appendChild(span);
    var body = document.getElementsByTagName('body')[0];
    body.appendChild(footer);
}

/**
 * Allow open images inside post content with a click
 */
function allowOpenImages() {
    var postContents = document.getElementsByClassName('post-content');
    if (!postContents.length) return;
    var bodyImgs = postContents[0].getElementsByTagName('img');
    for (var i = 0; i < bodyImgs.length; i++) {
        if (!bodyImgs[i].src.includes('#expandable')) continue;
        bodyImgs[i].classList.add('expandable');
        bodyImgs[i].parentNode.classList.add('expandable__wrap');
        var parent = bodyImgs[i].parentNode;
        var link = document.createElement('a');
        link.setAttribute('href', bodyImgs[i].src);
        link.appendChild(bodyImgs[i]);
        parent.appendChild(link);
    }
}

/**
 * Add twitter links to post meta authors if word starts with '@'
 */
function authorsToTwitterLinks() {
    var postMetas = document.getElementsByClassName('post-meta');
    if (!postMetas.length) return;
    var content = postMetas[0].innerHTML;
    var regex = /@(\w){1,15}/ig;
    var found = content.match(regex);
    if (!found) return;
    for (var i = 0; i < found.length; i++) {
        content = content.replace(
            found[i],
            `<a href="https://twitter.com/${found[i].substring(1)}" target="_blank" rel="noreferrer noopener">${found[i]}</a>`,
        )
    }
    postMetas[0].innerHTML = content;

}

addCustomFooter('Made with 🖤 by <a href="http://dataira.com/" target="_blank" rel="noreferrer noopener">Dataira</a>');
allowOpenImages();
authorsToTwitterLinks();
</script>